[Unit]
Description=SkyMinion
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/skyminion
User=skyminion

Restart=always
RestartSec=10

# Logging
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=skyminion
SyslogFacility=local0
SyslogLevel=info

# Bot Users
Environment=ALICE_SLACK_ID={{ ALICE_SLACK_ID|default ('alice') }}
Environment=SKYNET_SLACK_ID={{ SKYNET_SLACK_ID|default ('skynet') }}
Environment=SKYMINION_SLACK_ID={{ SKYMINION_SLACK_ID|default ('skyminion') }}
Environment=SKYNETAPI_SLACK_ID={{ SKYNETAPI_SLACK_ID|default ('skynetapi') }}

################
# hubot-slack #
#
Environment=HUBOT_SLACK_BOTNAME={{ HUBOT_SLACK_BOTNAME|default ('skyminion') }}
Environment=HUBOT_SLACK_TOKEN={{ HUBOT_SLACK_TOKEN|default ('Your-HUBOT_SLACK_TOKEN-Goes-Here') }}

# Skynet Slack Token
Environment=SKYNET_SLACK_TOKEN={{ SKYNET_SLACK_TOKEN|default ('Your-SKYNET_SLACK_TOKEN-Goes-Here') }}

# Hubot CLC IP Tool Datacenter
Environment=HUBOT_DC_LOC={{ HUBOT_DC_LOC|default ('Your-HUBOT_DC_LOC-Goes-Here') }}
#
# Skynet Trello Credentials
Environment=SKYNET_TRELLO_KEY={{ SKYNET_TRELLO_KEY|default ('Your-SKYNET_TRELLO_KEY-Goes-Here') }}
Environment=SKYNET_TRELLO_TOKEN={{ SKYNET_TRELLO_TOKEN|default ('Your-SKYNET_TRELLO_TOKEN-Goes-Here') }}
Environment=CLC_TRELLO_ORG_ID={{ CLC_TRELLO_ORG_ID|default ('Your-CLC_TRELLO_ORG_ID-Goes-Here') }}
# X.CTL.IO Token
Environment=HUBOT_X_TOKEN={{ HUBOT_X_TOKEN|default ('Your-HUBOT_X_TOKEN-Goes-Here') }}
Environment=HUBOT_X_PROD_TOKEN={{ HUBOT_X_PROD_TOKEN|default ('Your-HUBOT_X_PROD_TOKEN-Goes-Here') }}

ExecStart=/opt/skyminion/node_modules/hubot/bin/hubot --adapter slack

[Install]
WantedBy=multi-user.target
